<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" href = "url_for('static', filename='style.css')">
</head>
<body>
  <form method = "POST">
    <input type="hidden" name="form_type" value="buscar_dni">
    <input type = "number" name = "dni" placeholder = "Documento de Identidad">
    <input type = "submit" value = "BUSCAR">
  </form>
  {% if data != None%}
  <form method = "POST">
    <input type="hidden" name="form_type" value="agregar_dni">
    <input type = "text" name = "data_name_complete" class = "out-information" value = {{data.nombreCompleto}}>
    <input type = "text" name = "data_dni" class = "out-information" value = {{data.numeroDocumento}}>
    <input type = "submit" value = "AGREGAR">
  </form>
  {%endif%}
  <form method = "POST">
    <input type="hidden" name="form_type" value="registrar_matricula">
    <select name = "curso_id_matricula">
    {%for curso in cursos%}
      <option value = "{{curso[0]}}">{{curso[0]}}-{{curso[1]}}</option>
    {%endfor%}
    </select>
    <input type = "number" name = "dni_matricula" value = {{data.numeroDocumento}} ReadOnly>
    <input type = "submit" value = "MATRICULAR">
  </form>
  <div id = "message-container">
    {{message}}
  </div>
  <table>
    <tr>
      <th>DNI</th>
      <th>COURSE</th>
      <th>DATE</th>
    </tr>
    {%for matricula in matriculas %}
    <tr>
      <td>{{matricula[0]}}</td>
      <td>{{matricula[1]}}</td>
      <td>{{matricula[2]}}</td>
    </tr>
    {%endfor%}
  </table>
</body>
</html>
